.content {
  background-image: url('/assets/background_forest.jpg');
  /*background-image: url('/assets/background_forest2.jpg');  !* TODO: REMOVE THIS LATER *!*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 1000px; /* TODO: REMOVE THIS LATER */
}
